<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="group" type="sanevich.diploma.model.basic.Group"*/-->
<!--/*@thymesVar id="groups" type="sanevich.diploma.DAO.basic.GroupDAO"*/-->
<!--/*@thymesVar id="user" type="sanevich.diploma.model.basic.User"*/-->

<head>
  <meta charset="UTF-8" />
  <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/materialize.min.css}"></link>
  <script th:src="@{/js/materialize.min.js}"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
  <link rel="stylesheet" th:href="@{/css/my.css}" />
  <script th:src="@{/js/my.js}"></script>
  <title>Редактировать профиль</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper indigo">
      <div class="conteiner_breadcrumb">
        <a href="/student" class="nav_first breadcrumb">Главная</a>
        <a href="#!" class="breadcrumb">Редактировать профиль</a>
      </div>
      <ul class="right">
        <li>
          <a th:href="@{/logout}">
            <i class="material-icons">directions_run</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="container_inner z-depth-1 grey lighten-4 row">
      <div tiles:fragment="content" id="user-list">
        <form th:action="@{editProfile/{path}/update(path=${user.getId()})}" method="post" class="form-horizontal">
          <div class="formgroup_container">
            <div class="input-field formgroup_name">
              <input type="text" class="form-control" id="firstName" name="firstName" th:value="${user.getFirstName()}"></input>
              <label for="firstName" class="control-label">Имя</label>
            </div>
            <div class="input-field formgroup_surname">
              <input type="text" class="form-control" id="lastName" name="lastName" th:value="${user.getLastName()}"></input>
              <label for="lastName" class="control-label">Фамилия</label>
            </div>
            <div class="form-group formgroup_group">
              <label for="groupName" class="control-label">Группа</label>
              <select class="form-control" id="groupName" name="groupName" style="display: block;">
                <option th:each="group: ${groups}" th:text="${group.getName()}" th:selected="${user.getGroup() != null} ? ${user.getGroup().getName().equals(group.getName())}">1
                </option>
              </select>
            </div>
          </div>
          <button type="submit" class="col s12 btn btn-large waves-effect indigo">Обновить данные</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>