<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="lesson" type="sanevich.diploma.model.basic.Lesson"*/-->
<!--/*@thymesVar id="course" type="sanevich.diploma.model.basic.Course"*/-->
<head>
    <meta charset="UTF-8"/>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}"></link>
    <script th:src="@{/js/materialize.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
    <link rel="stylesheet" th:href="@{/css/my.css}"/>
    <script th:src="@{/js/my.js}"></script>
    <title th:text="${lesson.getName()}"></title>
</head>
<body>
    <nav>
        <div class="nav-wrapper indigo">
            <div class="conteiner_breadcrumb">
                <a href="/student" class="nav_first breadcrumb">Главная</a>
                <a th:href="'/student/' +  ${course.getId()}" class="breadcrumb" th:text="${course.getName()}">Лекции курса</a>
                <a href="#!" class="breadcrumb" th:text="${lesson.getName()}">CourseName</a>
            </div>
            <ul class="right">
                <li><a th:href="@{/logout}"><i class="material-icons">directions_run</i></a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="container_inner lesson_view z-depth-1 grey lighten-4 row">
            <h1 th:text="${lesson.getName()}"></h1>

            <p th:utext="${lesson.fullPostTextHtml()}"></p>
        </div>
    </div>
</body>
</html>