<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="courses" type="sanevich.diploma.DAO.basic.CourseDAO"*/-->
<!--/*@thymesVar id="lesson" type="sanevich.diploma.model.basic.Lesson"*/-->
<!--/*@thymesVar id="lessons" type="sanevich.diploma.DAO.basic.LessonDAO"*/-->
<!--/*@thymesVar id="files" type="List<java.lang.String>"*/-->
<head>
    <meta charset="UTF-8"/>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/materialize.min.css}"></link>
    <script th:src="@{/js/materialize.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
    <link rel="stylesheet" th:href="@{/css/my.css}"/>
    <script th:src="@{/js/my.js}"></script>
    <title>Лекции</title>
</head>
<body>
<nav>
    <div class="nav-wrapper indigo">
        <div class="conteiner_breadcrumb">
            <a href="/student" class="nav_first breadcrumb">Главная</a>
            <a href="#!" class="breadcrumb" th:text="${course.getName()}">Лекции курса</a>
        </div>
        <ul class="right">
            <li><a th:href="@{/logout}"><i class="material-icons">directions_run</i></a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="container_inner z-depth-1 grey lighten-4 row">
        <label for="acc" class="acc_label">Уроки курса</label>
        
        <ul class="collection user_collection">
            <a th:href="${lesson.getCourse().getId()} + '/' + ${lesson.getId()}" th:each="lesson: ${lessons}" class="">
              <li class="collection-item avatar user_collection__item">
                <i class="material-icons circle">book</i>
                <span class="user_collection__title" th:text="${lesson.getName()}"></span>
                <p class="user_collection__desc" th:text="${lesson.getDescription()}"></p>
              </li>
            </a>
        </ul>

    </div>
</div>
<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}"></a>
        </li>
    </ul>
</div>
</body>
</html>