<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="course" type="sanevich.diploma.model.basic.Course"*/-->
<!--/*@thymesVar id="courses" type="sanevich.diploma.DAO.basic.CourseDAO"*/-->
<head>
    <meta charset="UTF-8"/>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/materialize.min.css}"></link>
    <script th:src="@{/js/materialize.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
    <link rel="stylesheet" th:href="@{/css/my.css}"/>
    <script th:src="@{/js/my.js}"></script>
    <title>Главная</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper indigo">
            <div class="conteiner_breadcrumb">
                <a class="nav_first breadcrumb" href="">Главная</a>
            </div>
            <ul class="right">
                <li><a href="/student/editProfile"><i class="material-icons">person</i></a></li>
                <li><a th:href="@{/logout}"><i class="material-icons">directions_run</i></a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="container_inner z-depth-1 grey lighten-4 row">
            <label for="acc" class="acc_label" >Доступные курсы</label>
            
            <ul class="collection user_collection">
              <a th:href="'student/' + ${course.getId()}" th:each="course: ${courses}" class="">
                <li class="collection-item avatar user_collection__item">
                  <i class="material-icons circle">folder</i>
                  <span class="user_collection__title" th:text="${course.getName()}"></span>
                  <p class="user_collection__desc" th:text="${course.getDescription()}">description</p>
                </li>
              </a>
            </ul>
        </div>
    </div>
</body>
</html>