<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="group" type="sanevich.diploma.model.basic.Group"*/-->
<head>
    <meta charset="UTF-8"/>
    <title>Добавление группы</title>

    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}"></link>
    <script th:src="@{/js/materialize.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
    <link rel="stylesheet" th:href="@{/css/my.css}"/>
    <script th:src="@{/js/my.js}"></script>
</head>

<body>

<nav>
    <div class="nav-wrapper indigo">
        <div class="conteiner_breadcrumb">
            <a class="nav_first breadcrumb" href="/teacher">Главная</a>
            <a href="/../users" class="breadcrumb">Студенты</a>            
            <a href="!#" class="breadcrumb">Добавление группы</a>
        </div>
        <ul class="right">
            <li><a th:href="@{/logout}"><i class="material-icons">directions_run</i></a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="container_inner z-depth-1 grey lighten-4 row">
        <div tiles:fragment="content">
            <form th:action="@{/group}" th:object="${group}" method="post" class="form-horizontal">
                <div class="formgroup_container">
                    <div class="input-field formgroup_groupname">
                        <input type="text" class="form-control" id="group" th:field="*{name}"></input>
                        <label for="group">Название</label>

                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-warning">
                            Error in group name.
                        </div>
                    </div>
                </div>
                <button type="submit" class="col s12 btn btn-large waves-effect indigo">Добавить</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>