<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="group" type="sanevich.diploma.model.basic.Group"*/-->
<head>
    <meta charset="UTF-8" />
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{../../css/materialize.min.css}"></link>
    <script th:src="@{../..//js/materialize.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
    <link rel="stylesheet" th:href="@{../..//css/my.css}"/>
    <script th:src="@{../..//js/my.js}"></script>
    <title>Обновление данных группы</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper indigo">
            <div class="conteiner_breadcrumb">
                <a class="nav_first breadcrumb" href="/teacher">Главная</a>
                <a href="/../users" class="breadcrumb">Студенты</a>
                <a href="#!" class="breadcrumb">Обновление группы</a>
            </div>
            <ul class="right">
                <li><a th:href="@{/logout}"><i class="material-icons">directions_run</i></a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="container_inner z-depth-1 grey lighten-4 row">
            <div tiles:fragment="content" id="user-list">

                <form th:action="@{/group/update}" method="post" class="form-horizontal">
                    <div class="container_flex">
                        <div class="input-field formgroup_id">
                            <input type="text" class="form-control" id="id" name="id" th:value="${group.getId()}"
                                   readonly="true"/>
                            <label for="id" class="control-label">id</label>
                        </div>
                            <div class="input-field formgroup_name formgroup_name_update">
                            <input type="text" class="form-control" id="name" name="name"
                                   th:value="${group.getName()}"/>
                            <label for="name" class="control-label">Название группы</label>
                        </div>
                    </div>
                    <button type="submit" class="col s12 btn btn-large waves-effect indigo">Обновить данные</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>