<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="baseUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="course" type="sanevich.diploma.model.basic.Course"*/-->
<!--/*@thymesVar id="lesson" type="sanevich.diploma.model.basic.Lesson"*/-->
<!--/*@thymesVar id="lessons" type="List<sanevich.diploma.DAO.Basic.LessonDAO"*/-->
<!--/*@thymesVar id="files" type="List<java.lang.String>"*/-->

<head>
    <meta charset="UTF-8" />
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}"></link>
    <script th:src="@{/js/materialize.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
    <link rel="stylesheet" th:href="@{/css/my.css}" />
    <script th:src="@{/js/my.js}"></script>
    <title th:text="${course.getName()}"></title>
</head>

<body>
    <nav>
        <div class="nav-wrapper indigo">
            <div class="conteiner_breadcrumb">
                <a href="/teacher" class="nav_first breadcrumb">Главная</a>
                <a href="/courses" class="breadcrumb">Курсы</a>
                <a href="#!" class="breadcrumb" th:text="${course.getName()}">Список уроков</a>
            </div>
            <ul class="right">
                <li>
                    <a th:href="@{/logout}">
                        <i class="material-icons">directions_run</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="container_inner z-depth-1 grey lighten-4 row">
            <div class="container_flex">
                <a type="button" class="btn waves-effect waves-light indigo" th:onclick="'location.href = \'/course/'+${course.getId()}+'/addLesson\''"
                    alt="Add new course">Добавить урок
                </a>
                <a type="button" class="btn waves-effect waves-light indigo" th:onclick="'location.href = \'/course/'+${course.getId()}+'/studentList\''"
                    alt="Add new course">Студенты</a>
                <a type="button" class="btn waves-effect waves-light indigo" href="#modal_dates" alt="Dates edit">Редактировать даты
                </a>
            </div>
            <div class="container_flex">
                <div class="chip chip-link">
                    <input class="chip_input" type="text" id="invite-course-link" th:fragment="invite-course-link" th:value="${baseUrl} + '/invite/' + ${course.getUniqueCode()}"
                        readonly="readonly"></input>
                    <!-- <span  th:fragment="invite-course-link" th:text="${baseUrl} + '/invite/' + ${course.getUniqueCode()}"></span> -->
                    <a href="#modal_genlink" alt="Сгенерировать новую инвайт ссылку">
                        <i class="material-icons">autorenew</i>
                    </a>
                </div>
                <div class="chip chip-link">
                    <!-- <span th:text="${course.getOriginLink()}">gitlab.link</span> -->
                    <input class="chip_input" type="text" th:value="${course.getOriginLink()}" readonly="readonly"></input>
                    <a href="#modal_changegit" alt="Сгенерировать новую инвайт ссылку">
                        <i class="material-icons">edit</i>
                    </a>
                </div>
            </div>
            <!-- TODO дублирование этого ⬇️ класса при выключении уроков  -->
            <ul class="collection user_collection" th:fragment="lessons" id="lessons">
                <a th:href="'/course/'+${course.getId()} + '/updateLesson/' + ${lesson.getId()}" th:each="lesson: ${lessons}">
                    <li th:class="${lesson.getIsActive()} ? 'collection-item avatar user_collection\_\_item' : 'collection-item_unactive collection-item avatar user_collection\_\_item'">
                        <i class="material-icons circle">book</i>
                        <span class="user_collection__title" th:text="${lesson.getName()}"></span>
                        <p class="user_collection__desc" th:text="${lesson.getDescription()}"></p>
                        <div class="switch user_collection__switch">
                            <label>
                                <!-- Off -->
                                <input checked="checked" type="checkbox" th:id="'activeBox'+${lesson.getId()}" th:checked="${lesson.getIsActive()}" th:onchange="'let a = $(\'#activeBox'+${lesson.getId()}+'\').is(\':checked\'); $(\'#lessons\').load(\'/course/'+${course.getId()}+'/'+${lesson.getId()}+'/updateActive?checked=\'+a);'"
                                />
                                <span class="lever"></span>
                                <!-- On -->
                            </label>
                        </div>
                    </li>
                </a>
            </ul>
            <!-- TODO если нет файлов, то не отображать этот блок -->
            <div id="files">
                <label for="collapsible" class="acc_label">Файлы</label>
                <ul class="collection user_collection">
                    <a th:each="file : ${files}" th:href="${file}">
                        <li class="collection-item avatar user_collection__item">
                            <i class="material-icons circle">attachment</i>
                            <!-- TODO отображать только имя файла. без полной ссылки -->
                            <span class="user_collection__title" th:text="${file}"></span>
                        </li>
                    </a>
                </ul>
            </div>

            <div class="attachments-tool">
                <form method="POST" enctype="multipart/form-data" th:action="@{/course/file/{path}(path=${course.getId()})}">
                    <div class="file-field input-field">
                        <div class="btn indigo">
                            <span>Файл</span>
                            <input type="file" name="file" />
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" />
                        </div>
                        <div>
                            <input type="submit" class="btn waves-effect waves-light indigo waves-input-wrapper" value="Загрузить" />
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div id="modal_genlink" class="modal">
        <div class="modal-content">
            <h4>Изменение ссылки на курс</h4>
            <p>Вы уверены, что хотите этого? Студенты больше не смогут получить себе курс по этой ссылке</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Нет</a>
            <button onclick="$('#modal_dates').modal('close');" class="modal-action modal-close btn waves-effect waves-light indigo"
                id="generate-new-invite-link">
                Уверен
            </button>
        </div>
    </div>
    <div id="modal_changegit" class="modal modal-fixed-footer">
        <!-- CHANGEIT -->
        <form th:action="@{/courses/{path}/updateGitLink(path=${course.getId()})}" method="post">
            <div class="modal-content">
                <h4>Изменение ссылки на GitLab</h4>
                <input placeholder="GitLab" id="gitlab" type="text" class="validate" name="gitLink" th:value="${course.getOriginLink()}"
                />
                <label for="gitlab">Gitlab</label>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Отмена</a>
                <button onclick="$('#modal_dates').modal('close');" class="modal-action modal-close btn waves-effect waves-light indigo"
                    id="generate-new-git-link" type="submit">Изменить
                </button>
            </div>
        </form>
    </div>
    <div id="modal_dates" class="modal modal-fixed-footer">
        <form th:action="@{/courses/{path}/updateDates(path=${course.getId()})}" method="post">
            <div class="modal-content">
                <h4>Изменение дат начала и конца курса</h4>
                <div class="formgroup_container">
                    <div class="formgroup_datepick">
                        <label class="active">Дата начала курса</label>
                        <input type="text" class="datepicker-start" name="dateBegin" th:value="${#dates.format(course.getDateBegin(), 'dd.MM.yyyy')}"
                        />
                    </div>
                    <div class="formgroup_datepick">
                        <label class="active">Дата конца курса</label>
                        <input type="text" class="datepicker-end" name="dateEnd" th:value="${#dates.format(course.getDateEnd(), 'dd.MM.yyyy')}" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Отмена</a>
                <button onclick="$('#modal_dates').modal('close');" class="modal-action modal-close btn waves-effect waves-light indigo"
                    id="generate-new-dates" type="submit">Изменить
                </button>
            </div>
        </form>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#modal_genlink').modal();
            $('#modal_changegit').modal();
            $('#modal_dates').modal();

            let courseId = /*[[${course.getId()}]]*/ 1;
            $('button#generate-new-invite-link').click(function () {
                req = new XMLHttpRequest();
                req.open("GET", courseId + "/generate", false);
                req.send(null);

                $("input#invite-course-link").val($(req.responseText).val())
            });

            let msg = /*[[${msg}]]*/ null;
            let popup = msg ? Materialize.toast(msg, 7000) : false;
        });
    </script>
</body>

</html>