<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}"></link>
    <script th:src="@{/js/materialize.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
    <title>Обновление урока</title>
    <script th:src="@{/js/external/markdown/Markdown.Converter.js}"></script>
    <script th:src="@{/js/external/markdown/Markdown.Sanitizer.js}"></script>
    <script th:src="@{/js/external/markdown/Markdown.Editor.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/external/pagedown.css}" />
    <link rel="stylesheet" th:href="@{/css/my.css}" />
    <script th:src="@{/js/my.js}"></script>
    <script th:src="@{/js/createLesson.js}"></script>
    <title></title>
</head>

<body>
    <nav>
        <div class="nav-wrapper indigo">
            <div class="conteiner_breadcrumb">
                <a href="/teacher" class="nav_first breadcrumb">Главная</a>
                <a href="/courses" class="breadcrumb">Курсы</a>
                <a href="../" th:href="'/course/' + ${course.getId()}" class="breadcrumb" th:text="${course.getName()}">Список уроков</a>
                <a href="#!" class="breadcrumb" th:text="${edit} ? 'Редактирование урока' : 'Создание урока'"></a>
            </div>
            <ul class="right">
                <li>
                    <a th:href="@{/logout}">
                        <i class="material-icons">directions_run</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="container_inner z-depth-1 grey lighten-4 row">
            <section layout:fragment="content">
                <div class="col-sm-8 no-padding-col">
                    <form th:action="${edit} ? @{|@{/course/{path}/update/{lesson_id}(path=${lesson.getCourse().getId()},lesson_id=${lesson.getId()})}|} : @{@{/course/{path}/addLesson(path=${lesson.getCourse().getId()})}}"
                        th:object="${lesson}" method="post" id="postForm">
                        <div th:if="${#fields.hasErrors('*')}">
                            <ul class="list-no-indent">
                                <li class="error-line" th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                            </ul>
                        </div>
                        <div class="input-field form-group">
                            <input type="text" class="form-control" id="title" th:field="*{name}"></input>
                            <label for="title">Заголовок</label>

                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-warning">
                                Ошибка в описании урока
                            </div>
                        </div>

                        <div class="input-field">
                            <input type="text" class="form-control" id="desc" th:field="*{description}"></input>
                            <label for="desc">Описание</label>

                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{description}" class="alert alert-warning">
                                Ошибка в описании урока
                            </div>
                        </div>

                        <div class="form-group wmd-panel">
                            <div id="wmd-button-bar"></div>
                            <textarea class="wmd-input" id="wmd-input" th:field="*{fullPostText}"></textarea>
                            <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header">
                                        <i class="material-icons">arrow_drop_down</i>Предварительный просмотр</div>
                                    <div class="collapsible-body">
                                        <div id="wmd-preview" class="wmd-panel wmd-preview lesson_view"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <button type="submit" class="col s12 btn btn-large waves-effect indigo" th:text="${edit} ? 'Сохранить' : 'Создать'"></button>

                    </form>
                </div>
            </section>
        </div>
    </div>
</body>

</html>