<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/materialize.min.css}"></link>
    <script th:src="@{/js/materialize.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
    <link rel="stylesheet" th:href="@{/css/my.css}"/>
    <script th:src="@{/js/my.js}"></script>
    <title>Главная</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper indigo">
            <div class="conteiner_breadcrumb">
                <a class="nav_first breadcrumb">Главная</a>
            </div>
            <ul class="right">
                <li><a href="/courses/archive">Архив курсов</a></li>
                <li><a th:href="@{/logout}"><i class="material-icons">directions_run</i></a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="container_inner z-depth-1 grey lighten-4 row">
            <div class="container_flex">
                <a type="button" class="btn waves-effect waves-light indigo" href="/users" alt="Add new user">Cтуденты</a>
                <a type="button" class="btn waves-effect waves-light indigo" href="/courses">Курсы</a>
            </div>
        </div>
    </div>
</body>
</html>