@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin),
    url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: local(Roboto Light),
    url("../fonts/roboto/Roboto-Light.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular),
    url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: local(Roboto Medium),
    url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: local(Roboto Bold),
    url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
}
html {
  background: #fff;
}
body {
  background: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
pre {
  padding: 9.5px;
  margin: 10px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #dfdfdf;
  border: 1px solid #ccc;
  border-radius: 4px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 {
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h2 {
  font-size: 1.8rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 1.6rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 1.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 0;
}

#generate-new-invite-link {
  cursor: pointer;
}
.chip-link {
  display: flex !important;
  flex-grow: 1;
  margin: 10px 10px 20px 0;
}
.chip-link:last-child {
  margin-right: 0;
}
.chip-link i {
  margin-left: 6px;
  font-size: 19px;
  vertical-align: middle;
}
.chip_input {
  border-bottom: none !important;
  margin-top: -6px !important;
}

.collapsible-header {
  color: black;
}
.picker__date-display,
.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
  background-color: #3f51b5 !important;
}
.picker__day
  .picker__day--infocus
  .picker__day--today
  .picker__day--selected
  .picker__day--highlighted {
  color: white !important;
}
.picker__today,
.picker__close,
.picker__day.picker__day--today {
  color: #3f51b5 !important;
}
.picker__day.picker__day--today.picker__day--selected {
  color: white;
}
.picker--opened .picker__frame {
  top: 70px;
}
.picker__nav--prev:hover,
.picker__nav--next:hover {
  background: none;
}
#login-swipe,
#singup-swipe {
  padding: 32px 48px 48px 48px;
  margin-bottom: 70px;
}
.login-tabs {
  display: flex;
}
.login-tabs a {
  color: #c5cae9 !important;
}
.login-tabs a.active {
  color: white !important;
}
.login-tabs a:hover {
  color: white !important;
}
.login-tabs .tab {
  flex-grow: 1;
  flex: 50%;
}
.indicator {
  background-color: rgb(159, 168, 218) !important;
  height: 3px !important;
  flex: 1 1 50% !important;
  width: 50%;
}
.formgroup_reg_group {
  width: 100%;
  margin-bottom: 20px;
}
.login_title {
  padding-bottom: 15px;
}
.nav_first {
  margin-left: 15px;
}
.conteiner_breadcrumb {
  float: left;
}
.back_btn {
  display: block;
  float: left;
  padding: 0px 5px 0 25px;
}
.btn_update {
  position: absolute;
  right: 10px;
  top: 20px;
  content: "";
  display: inline-block;
  cursor: pointer;
  color: #3f51b5;
}
ul.collapsible li {
  position: relative;
}
.collapsible-body {
  padding: 0px 10px;
}
.acc_groupname,
.group_label {
  margin-left: 30px;
}
.container_flex {
  display: flex;
}
.container_login {
  margin: 100px auto;
}
.container_inner {
  display: block;
  max-width: 800px;
  border: 1px solid #eee;
  margin: 50px auto !important;
  padding: 32px 48px 48px 48px;
}
.tabs_login {
  margin-top: -40px;
}
.login_container {
  width: 400px;
  margin-top: -10px !important;
  padding: 0;
}
a.btn {
  flex-grow: 1;
  margin: 5px;
}
.table_users th:last-child,
.table_users td:last-child {
  float: right;
}
.acc_label {
  margin-top: 10px;
  display: block;
  font-size: 1.1em;
}
.acc_btn {
  height: 45px;
  padding: 4px 15px;
}
.formgroup_container {
  display: -webkit-flex;
  display: flex;
}
.formgroup_groupname {
  width: 100%;
}
.formgroup_email,
.formgroup_password,
.formgroup_datepick {
  width: 50%;
}
.formgroup_name,
.formgroup_surname {
  width: 45%;
}
.formgroup_age,
.formgroup_group {
  width: 15%;
}
.formgroup_id {
  width: 10%;
}
.formgroup_email,
.formgroup_username,
.formgroup_name,
.formgroup_surname,
.formgroup_id,
.formgroup_age,
.formgroup_password,
.formgroup_datepick:first-child {
  margin-right: 5px;
}

.formgroup_name_update {
  width: 100%;
}
.transition,
p,
ul.acc li i.acc_icon:before,
ul.acc li i.acc_icon:after {
  transition: all 0.25s ease-in-out;
}

/*
ul.acc table {
  animation: flipdown 0.5s ease both; 
}
*/
.acc_groupname {
  display: inline-block;
  position: relative;
}

.no-select,
h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul.acc table {
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}
.acc_groupname {
  width: 100%;
  margin: 0;
  font-size: 1.5em;
  padding: 10px;
}
.user_collection {
  margin: 0;
}
.user_collection__item {
  border-bottom: 1px solid #e0e0e0 !important;
  min-height: 65px !important;
}
.course-item {
  min-height: 90px !important;
}
.user_collection__item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
li.collection-item.avatar.user_collection__item {
  position: relative;
}
li.collection-item.avatar.user_collection__item i {
  color: #3f51b5;
}
.collection .collection-item.avatar i.circle {
  background: #3f51b5;
}
a.btn_archive {
  margin-top: -20px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 26px;
}
.user_collection__title {
  font-weight: 500;
  color: black;
}
.user_collection__desc {
  color: grey;
}
.user_collection__switch {
  position: absolute;
  right: 0;
  top: 20px;
}
.collection-item_unactive {
  background-color: rgba(0, 0, 0, 0.01) !important;
}
.collection-item_unactive .user_collection__desc {
  color: #bebebe;
}
.collection-item_unactive .user_collection__title {
  color: grey;
}
.collection-item_unactive .btn_archive i {
  color: rgba(63, 81, 181, 0.5) !important;
}
.collection-item_unactive i.circle {
  background: #999 !important;
}
.user_collection__date {
  color: #bebebe;
}
#modal_dates {
  bottom: 10%;
  width: 70%;
}
.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #3f51b5;
}
.switch label input[type="checkbox"]:checked + .lever {
  background-color: rgba(63, 81, 181, 0.56);
}
.lesson_view img {
  max-width: 100%;
}
#files {
  margin-top: 30px;
}
.attachments-tool .file-field {
  display: flex;
}
.attachments-tool .file-field .btn,
.attachments-tool .file-path-wrapper,
.attachments-tool .file-path {
  flex-grow: 1;
  display: inline-block;
  float: left;
  height: 2rem;
  line-height: 2rem;
}
.attachments-tool .file-path {
  height: 1.9rem !important;
}
.file-path-wrapper {
  padding-right: 10px;
}
@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    position: relative;
    top: -1000px;
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
    position: relative;
    top: -1000px;
  }
}
#wmd-preview {
  margin-top: 10px;
  border: none !important;
}
.lesson_view ul li {
  list-style-type: circle;
  margin-left: 40px;
}
#wmd-preview p {
  margin-top: -1px;
  padding-left: 5px;
}
#wmd-preview img {
  max-width: 100%;
  margin-left: -3px;
}
.wmd-panel {
  margin-top: -26px;
  min-width: 100% !important;
}

#toast-container {
  top: 0 !important;
  left: 35% !important; /*  10% for mobile media*/
  bottom: auto;
  right: 35% !important;
}
.toast {
  width: 100%;
  display: inline-block;
  text-align: center;
}
