<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Login Page</title>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}"/>
    <script th:src="@{/js/materialize.min.js}"></script>
    <script th:src="@{/js/my.js}"></script>
    <link rel="stylesheet" th:href="@{/css/my.css}"/>
</head>
<body style="display: -webkit-box;" >
    <div class="container_login">
        <div class="container_inner login_container z-depth-1 grey lighten-4 row">
            <ul id="tabs-swipe-demo" class="tabs login-tabs indigo">
                <li class="tab"><a href="#login-swipe">Войти</a></li>
                <li class="tab"><a href="#singup-swipe">Регистрация</a></li>
            </ul>
            <div tiles:fragment="content">
                <div id="login-swipe" class="">
                    <form class="form-horizontal" name="f" th:action="@{/login}" method="post">
                        <div th:if="${param.error}" class="alert alert-warning">
                            Неверный логин или пароль
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success">
                            Вы вышли
                        </div>
            
                        <div class="input-field">
                            <input type="text" class="form-control" id="username" name="username" />
                            <label for="username">Email</label>
                        </div>
                        <div class="input-field">
                            <input type="password" class="form-control" id="password" name="password" />
                            <label for="password">Пароль</label>
                        </div>
            
                        <button type="submit" class='col s12 btn btn-large waves-effect indigo'>Войти</button>
                    </form>
                </div>
                <div id="singup-swipe" class="">
                    <form class="form-horizontal" name="f" th:action="@{/register}" method="post">
                
                        <div th:if="${param.error}" class="alert alert-warning">
                            Неверный логин или пароль
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success">
                            Вы вышли
                        </div>
                
                        <div class="input-field">
                            <input type="email" class="form-control" id="username" name="username" />
                            <label for="username">Email</label>
                        </div>
                        <div class="input-field">
                            <input type="password" class="form-control" id="password" name="password" />
                            <label for="password">Пароль</label>
                        </div>
                        <button type="submit" class='col s12 btn btn-large waves-effect indigo'>Зарегистрироваться</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            let msg = /*[[${msg}]]*/ null;
            let popup = msg ? Materialize.toast(msg, 7000) : false;
        });
    </script>
</body>

</html>