<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="group" type="sanevich.diploma.model.basic.Group"*/-->
<!--/*@thymesVar id="groups" type="sanevich.diploma.DAO.basic.GroupDAO"*/-->
<!--/*@thymesVar id="user" type="sanevich.diploma.model.basic.User"*/-->
<head>
    <meta charset="UTF-8" />
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{../../css/materialize.min.css}"></link>
    <script th:src="@{../..//js/materialize.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
    <link rel="stylesheet" th:href="@{../..//css/my.css}"/>
    <script th:src="@{../..//js/my.js}"></script>
    <title>Обновление данных студента</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper indigo">
            <div class="conteiner_breadcrumb">
                <a class="nav_first breadcrumb" href="/teacher">Главная</a>
                <a href="/../users" class="breadcrumb">Студенты</a>
                <a href="#!" class="breadcrumb">Обновление данных</a>
            </div>
            <ul class="right">
                <li><a th:href="@{/logout}"><i class="material-icons">directions_run</i></a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="container_inner z-depth-1 grey lighten-4 row">
            <div tiles:fragment="content" id="user-list">
                <form th:action="@{/users/update}" method="post" class="form-horizontal">
                    <div class="formgroup_container">
                        
                        <div class="input-field formgroup_id">
                            <input type="text" class="form-control" id="ID" name="ID" th:value="${user.getId()}" readonly="true"></input>
                            <label for="ID" class="control-label">ID</label>
                        </div>
                        
                        <div class="input-field formgroup_email">
                            <input type="text" class="form-control" id="email" name="email" th:value="${user.getEmail()}"></input>
                            <label for="email" class="control-label">Email</label>
                        </div>
                        <div class="input-field formgroup_password">
                            <input type="text" class="form-control" id="password" name="password" th:value="${user.getPassword()}"></input>
                            <label for="password" class="control-label">Пароль</label>
                        </div>
                    </div>
                    <div class="formgroup_container">
                        <div class="input-field formgroup_name">
                            <input type="text" class="form-control" id="firstName" name="firstName" th:value="${user.getFirstName()}"></input>
                            <label for="firstName" class="control-label">Имя</label>
                        </div>
                        <div class="input-field formgroup_surname">
                            <input type="text" class="form-control" id="lastName" name="lastName" th:value="${user.getLastName()}"></input>
                            <label for="lastName" class="control-label">Фамилия</label>
                        </div>
                        <div class="input-field formgroup_age">
                            <input type="text" class="form-control" id="age" name="age"
                                   th:value="${user.getAge()}"></input>
                            <label for="Age" class="control-label">Возраст</label>
                        </div>
                        <div class="form-group formgroup_group">
                            <label for="groupName" class="control-label">Группа</label>
                            <select class="form-control" id="groupName" name="groupName" style="display: block;">
                                <option  th:each="group: ${groups}" th:text="${group.getName()}" th:selected="${user.getGroup().getName().equals(group.getName())}">1</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="col s12 btn btn-large waves-effect indigo">Обновить данные</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>