<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="group" type="sanevich.diploma.model.basic.Group"*/-->
<!--/*@thymesVar id="groups" type="sanevich.diploma.DAO.basic.GroupDAO"*/-->
<!--/*@thymesVar id="user" type="sanevich.diploma.model.basic.User"*/-->
<head>
    <meta charset="UTF-8" />
    <title>Add user page</title>

    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}"></link>
    <script th:src="@{/js/materialize.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
    <link rel="stylesheet" th:href="@{/css/my.css}"/>
    <script th:src="@{/js/my.js}"></script>
</head>

<body>

    <nav>
        <div class="nav-wrapper indigo">
            <div class="conteiner_breadcrumb">
                <a class="nav_first breadcrumb" href="/teacher">Главная</a>
                <a href="/../users" class="breadcrumb">Студенты</a>
                <a href="!#" class="breadcrumb">Добавление</a>
            </div>
            <ul class="right">
                <li><a th:href="@{/logout}"><i class="material-icons">directions_run</i></a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="container_inner z-depth-1 grey lighten-4 row">
            <div tiles:fragment="content">
                <form th:action="@{/users}" th:object="${user}" method="post" class="form-horizontal">
                    <div class="formgroup_container">
                        <div class="input-field formgroup_email">
                            <input type="email" class="form-control" id="email" th:field="*{email}"></input>
                            <label for="email">Email</label>

                            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-warning">
                                Error in email.
                            </div>
                        </div>
                        <div class="input-field formgroup_password">
                            <input type="password" class="form-control" id="password" th:field="*{password}"></input>
                            <label for="password">Пароль</label>
                            
                        </div>
                        
                    </div>
                    <div class="formgroup_container">
                        <div class="input-field formgroup_name">
                            <input type="text" class="form-control" id="firstName" th:field="*{firstName}"></input>
                            <label for="firstName">Имя</label>
                        </div>
                        <div class="input-field formgroup_surname">
                            <input type="text" class="form-control" id="lastName" th:field="*{lastName}"></input>
                            <label for="lastName">Фамилия</label>
                        </div>
                        <div class="input-field formgroup_age">
                            <input type="number" class="form-control" id="age" th:field="*{age}"></input>
                            <label for="age">Возраст</label>

                            <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="alert alert-warning">
                                Error in age.
                            </div>
                        </div>
                        <div class="form-group formgroup_group">
                            <label for="groupName" class="control-label">Группа</label>
                            <select class="form-control" id="groupName" name="groupName" style="display: block;">
                                    <option  th:each="group: ${groups}" th:text="${group.getName()}">1</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="col s12 btn btn-large waves-effect indigo">Добавить</button>
                </form>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            let msg = /*[[${msg}]]*/ null;
            let popup = msg ? Materialize.toast(msg, 4000) : false;
        });
    </script>
</body>

</html>