<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="group" type="sanevich.diploma.model.basic.Group"*/-->
<!--/*@thymesVar id="groups" type="sanevich.diploma.DAO.basic.GroupDAO"*/-->
<!--/*@thymesVar id="user" type="sanevich.diploma.model.basic.User"*/-->
<head>
    <meta charset="UTF-8" />
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/materialize.min.css}"></link>
    <script th:src="@{/js/materialize.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
    <link rel="stylesheet" th:href="@{/css/my.css}"/>
    <script th:src="@{/js/my.js}"></script>
    <title>List of Users</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper indigo">
            <div class="conteiner_breadcrumb">
                <a href="/teacher" class="nav_first breadcrumb">Главная</a>
                <a href="#!" class="breadcrumb">Студенты</a>
                
            </div>
            <ul class="right">
                <li><a th:href="@{/logout}"><i class="material-icons">directions_run</i></a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="container_inner z-depth-1 grey lighten-4 row">
            <div tiles:fragment="content">
                <!-- Таблица с пользователями-->
                <div class="container_flex">
                    <a type="button" class="btn waves-effect waves-light indigo" onclick="location.href = '/users/addUser'" alt="Add new user">Добавить студента</a>
                    <a type="button" class="btn waves-effect waves-light indigo" onclick="location.href = '/users/addGroup'" alt="Add new user">Добавить группу</a>
                </div>
                <div id="user-list">
                    <label for="acc" class="acc_label" >Группы</label>
                    <ul class="collapsible" data-collapsible="accordion">
                            
                        <li th:each="group: ${groups}">
                            <div class="collapsible-header acc_groupname" th:text="${group.getName()}">Group name</div>
                            <a  th:href="'/group/' + ${group.getId()} + '/update'" class="btn_update">
                                <i class="material-icons">settings</i>
                            </a>
                            <div class="collapsible-body">
                                <table class="table striped responsive-table table_users" >
                                    <thead>
                                        <tr>
                                            <th>Имя</th>
                                            <th>Фамилия</th>
                                            <th>Email</th>
                                            <th>Действия</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="user: ${group.getStudents()}">
                                            <td th:text="${user.getFirstName()}">FirstName</td>
                                            <td th:text="${user.getLastName()}">LastName</td>
                                            <td th:text="${user.getEmail()}">Email</td>
                                            <td>
                                                <button class="btn acc_btn indigo" onclick="post()" th:onclick="'location.href = \'users/'+${user.getId()}+'/update\''" alt="Update">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button class="btn acc_btn indigo" onclick="post()" th:onclick="'this.disabled=true; jQuery.post(\'users/'+${user.getId()}+'/delete\'); setTimeout(function () {window.location.href = \'/users\';}, 200)'" alt="Delete">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>