<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="course" type="sanevich.diploma.model.basic.Course"*/-->
<!--/*@thymesVar id="courses" type="sanevich.diploma.DAO.basic.CourseDAO"*/-->
<head>
    <meta charset="UTF-8"/>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/materialize.min.css}"></link>
    <script th:src="@{/js/materialize.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
    <link rel="stylesheet" th:href="@{/css/my.css}"/>
    <script th:src="@{/js/my.js}"></script>
    <title>Курсы</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper indigo">
            <div class="conteiner_breadcrumb">
                <a href="/teacher" class="nav_first breadcrumb">Главная</a>
                <a href="#!" class="breadcrumb">Архив курсов</a>

            </div>
            <ul class="right">
                <li><a th:href="@{/logout}"><i class="material-icons">directions_run</i></a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="container_inner z-depth-1 grey lighten-4 row">

            <label for="collapsible" class="acc_label">Архив</label>

            <ul class="collection user_collection" th:fragment="courses"
                id="courses">
                <li th:each="dwhCourse: ${dwhCourses}" class="collection-item avatar user_collection__item">
                    <i class="material-icons circle">folder</i>
                    <span class="user_collection__title" th:text="${dwhCourse.getName()}"></span>
                    <p class="user_collection__desc" th:text="${dwhCourse.getDescription()}"></p>

                    <div class="switch user_collection__switch">
                        <a type="button"
                        th:href="'archive/'+${dwhCourse.getId()}+'/moveToBasic'">Скопировать
                        в активные
                        курсы</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</body>

</html>