<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="course" type="sanevich.diploma.model.basic.Course"*/-->

<head>
  <meta charset="UTF-8" />
  <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/materialize.min.css}"></link>
  <script th:src="@{/js/materialize.min.js}"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
  <link rel="stylesheet" th:href="@{/css/my.css}" />
  <script th:src="@{/js/my.js}"></script>
  <title></title>
</head>

<body>
  <nav>
    <div class="nav-wrapper indigo">
      <div class="conteiner_breadcrumb">
        <a href="/teacher" class="nav_first breadcrumb">Главная</a>
        <a href="/../users" class="breadcrumb">Студенты</a>
        
        <a href="#!" class="breadcrumb" th:text="${course.getName()}">Список уроков</a>
      </div>
      <ul class="right">
        <li>
          <a th:href="@{/logout}">
            <i class="material-icons">directions_run</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="container_inner z-depth-1 grey lighten-4 row">

      <form th:action="@{/courses/{path}/updateDatesForArchive(path=${course.getId()})}" method="post">
        <h4>Изменение дат начала и конца курса</h4>
        <div class="formgroup_container">
          <div class="formgroup_datepick">
            <label class="active">Дата начала курса</label>
            <input type="text" class="datepicker-start" name="dateBegin" th:value="${course.getDateBegin() != null} ? ${#dates.format(course.getDateBegin(), 'dd.MM.yyyy')} : ''"
            />
          </div>
          <div class="formgroup_datepick">
            <label class="active">Дата конца курса</label>
            <input type="text" class="datepicker-end" name="dateEnd" th:value="${course.getDateEnd() != null} ? ${#dates.format(course.getDateEnd(), 'dd.MM.yyyy')} : ''"/>
          </div>
        </div>
        <button type="submit" class="col s12 btn btn-large waves-effect indigo">Добавить даты</button>
      </form>
    </div>
  </div>
  <script th:inline="javascript">
    $(document).ready(function () {
      let msg = /*[[${msg}]]*/ null;
      let popup = msg ? Materialize.toast(msg, 7000) : false;
    });
  </script>
</body>

</html>