<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="course" type="sanevich.diploma.model.basic.Course"*/-->
<!--/*@thymesVar id="courses" type="sanevich.diploma.DAO.basic.CourseDAO"*/-->
<head>
    <meta charset="UTF-8"/>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/materialize.min.css}"></link>
    <script th:src="@{/js/materialize.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
    <link rel="stylesheet" th:href="@{/css/my.css}"/>
    <script th:src="@{/js/my.js}"></script>
    <title>Курсы</title>
</head>

<body>
<nav>
    <div class="nav-wrapper indigo">
        <div class="conteiner_breadcrumb">
            <a href="/teacher" class="nav_first breadcrumb">Главная</a>
            <a href="#!" class="breadcrumb">Курсы</a>

        </div>
        <ul class="right">
            <li><a href="/courses/archive">Архив курсов</a></li>
            <li><a th:href="@{/logout}"><i class="material-icons">directions_run</i></a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="container_inner z-depth-1 grey lighten-4 row">
        <div class="container_flex">
            <a type="button" class="btn waves-effect waves-light indigo" onclick="location.href = '/courses/addCourse'"
               alt="Add new course">Добавить учебный курс</a>
        </div>
        <label for="collapsible" class="acc_label">Курсы</label>

        <ul class="collection user_collection" th:fragment="courses"
            id="courses">
            <a th:href="'course/'+${course.getId()}" th:each="course: ${courses}" class="">
                <form th:id="'form' + ${course.getId()}" method="post"
                      th:action="@{/courses/{path}/updateActive(path=${course.getId()})}">
                    <li th:class="${course.getIsActive()} ? 'collection-item avatar course-item user_collection\_\_item' : 'collection-item_unactive collection-item course-item avatar user_collection\_\_item'">
                        <i class="material-icons circle">folder</i>
                        <span class="user_collection__title" th:text="${course.getName()}"></span>
                        <p class="user_collection__desc" th:text="${course.getDescription()}"></p>
                        <p class="user_collection__date"
                           th:text="${#dates.format(course.getDateBegin(), 'dd MMMM yyyy')} + ' — ' + ${#dates.format(course.getDateEnd(), 'dd MMMM yyyy')}"></p>
                        <a class="btn_archive waves-effect btn-flat tooltipped" data-position="bottom" data-tooltip="Переместить в архив" th:onclick="'$(\'#courses\').load(\'courses/'+${course.getId()}+'/moveToArchive\');'">
                            <i class="material-icons">archive</i>
                        </a>
                        <div class="switch user_collection__switch">
                            <label>
                                <!-- Off -->
                                <input checked="checked" type="checkbox" name="checked"
                                       th:id="'activeBox'+${course.getId()}"
                                       th:checked="${course.getIsActive()}"
                                       th:onchange="'let a = $(\'#activeBox'+${course.getId()}+'\').is(\':checked\'); $(\'#courses\').load(\'courses/'+${course.getId()}+'/updateActive?checked=\'+a);'"/>
                                <span class="lever"></span>
                                <!-- On -->
                            </label>
                        </div>
                    </li>
                </form>
            </a>
            <script th:inline="javascript">
                $(document).ready(function () {
                    let msg = /*[[${msg}]]*/ null;
                    let popup = msg ? Materialize.toast(msg, 7000) : false;
                });
            </script>
        </ul>
    </div>
</div>
</body>

</html>