<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="course" type="sanevich.diploma.model.basic.Course"*/-->

<head>
    <meta charset="UTF-8"/>
    <title>Добавление курса</title>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}"/>
    <script th:src="@{/js/materialize.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/my.css}"/>
    <script th:src="@{/js/my.js}"></script>
</head>

<body>

<nav>
    <div class="nav-wrapper indigo">
        <div class="conteiner_breadcrumb">
            <a class="nav_first breadcrumb" href="/teacher">Главная</a>
            <a href="/courses" class="breadcrumb">Курсы</a>
            <a href="!#" class="breadcrumb">Добавление курса</a>
        </div>
        <ul class="right">
            <li><a th:href="@{/logout}"><i class="material-icons">directions_run</i></a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="container_inner z-depth-1 grey lighten-4 row">
        <div tiles:fragment="content">
            <form th:action="@{/courses}" th:object="${course}" method="post" class="form-horizontal">
                <div class="formgroup_container">
                    <div class="input-field formgroup_groupname">
                        <input type="text" class="form-control" id="group" th:field="*{name}"
                               placeholder="Курс программирования на языке Java"/>
                        <label for="group">Название</label>

                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-warning">
                            Ошибка в названии курса
                        </div>
                    </div>
                </div>
                <div class="formgroup_container">
                    <div class="input-field formgroup_groupname">
                        <input type="text" class="form-control" id="desc" th:field="*{description}"/>
                        <label for="group">Описание курса</label>

                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{description}"
                             class="alert alert-warning">
                            Ошибка в описании курса
                        </div>
                    </div>
                </div>
                <div class="formgroup_container">
                    <div class="input-field formgroup_groupname">
                        <input type="text" class="form-control" id="originLink" th:field="*{originLink}" placeholder="http://10.37.129.3/root/Java-lab"/>
                        <label for="group">Ссылка на проект в GitLab</label>
                    </div>
                </div>
                <div class="formgroup_container">
                    <div class="formgroup_datepick">
                        <labl class="active">Дата начала курса</labl>
                        <input type="text" class="datepicker-start" th:field="*{dateBegin}"/>
                    </div>
                    <div class="formgroup_datepick">
                        <label class="active">Дата конца курса</label>
                        <input type="text" class="datepicker-end" th:field="*{dateEnd}"/>
                    </div>
                </div>
                <button type="submit" class="col s12 btn btn-large waves-effect indigo">Добавить</button>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        let msg = /*[[${msg}]]*/ null;
        let popup = msg ? Materialize.toast(msg, 7000) : false;
    });
</script>
</body>

</html>