
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="course" type="sanevich.diploma.model.basic.Course"*/-->
<head>
    <meta charset="UTF-8"/>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/materialize.min.css}"></link>
    <script th:src="@{/js/materialize.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
    <link rel="stylesheet" th:href="@{/css/my.css}"/>
    <script th:src="@{/js/my.js}"></script>
    <title></title>
</head>
<body>
    <nav>
        <div class="nav-wrapper indigo">
            <div class="conteiner_breadcrumb">
                <a href="/teacher" class="nav_first breadcrumb">Главная</a>
                <a href="/courses" class="breadcrumb">Курсы</a>
                <a href="/courses/" class="breadcrumb" th:text="${course.getName()}" th:href="'/course/'+${course.getId()}">CourseName</a>
                <a href="!#" class="breadcrumb" >Список студентов</a>
            </div>
            <ul class="right">
                <li><a th:href="@{/logout}"><i class="material-icons">directions_run</i></a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="container_inner z-depth-1 grey lighten-4 row">
            <table class="table striped responsive-table table_users">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Email</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user: ${course.getUsers()}">
                        <td th:text="${user.getFirstName()}">FirstName</td>
                        <td th:text="${user.getLastName()}">LastName</td>
                        <td th:text="${user.getEmail()}">Email</td>
                        <td>
                            <button class="btn acc_btn indigo" onclick="post()"
                                    th:onclick="'this.disabled=true; jQuery.post(\'studentList/'+${user.getId()}+'/delete\'); setTimeout(function () {window.location.href = \'/course/'+${course.getId()}+'/studentList\';}, 200)'"
                                    alt="Delete">
                                <i class="material-icons">delete</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>